
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}.martkutxedi{
    width: 1800px;
    height: 200px;
    padding: 30px;
    margin: 0;
    background-color: #3D3D3D;
    color: #ffffff;
    overflow-x: scroll;
}
 article{
    width: 457px;
    height: 348;
    background-color: #FF9900;
    padding-bottom: 20px;
    float: left;
    margin-left: 50px;
}
.meorest{
    background-color: #FFC700;
}
.mesamest{
    background-color: #FFE600;
}
article .surati{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
article .surati img{
    width: 100%;
}
article p{
    margin: 20px;
}
.kitxvisgagrzeleba{
    text-align: right;
}
.kitxvisgagrzeleba a{
    color: #ffffff;
}
.statiatext{
    height: 150px;
    overflow: hidden;
}
.pirvelistatia{
    background-color: #FF9900;
    color: #2825f1;
}
.st2{
    background-color: #FFC700;
}
.st3{
    background-color: #FFE600;
}
main p{
    padding: 20px;
}
.ukandabruneba a{
    color: #000000;
}
.statiasurati{
    width: 33.33%;
    height: 300px;
    overflow: hidden;
    float: left;
}
.statiasurati img{
    width: 100%;
}
header{
    background-color: #C4C4C4;
    height: 90px;
    padding: 30px;
}
header ul a{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}
header ul li{
    float: left;
    margin-right: 30px;
}
footer{
    clear: both;
    padding: 20px;
}